@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-image: linear-gradient(to bottom,#5f2c82, #2a0042);
    }

    section#login {
        width: 700px;
        height: 320px;
    }

    section#login > div#imagem {
        float: left;
        width: 30%;
        height: 100%;

        background-position: bottom center;
    }

    section#login > div#formulario {
        float: left;
        width: 70%;
    }

    div#formulario > h1 {
        text-align: center;
        padding: 10px;
    }

    div#formulario > p {
        width: 450px;
        display: block;
        margin: auto;
        text-align: center;
        padding: 10px;
    }
}

@media screen and (min-width:992px) {
    body {
        background-image: linear-gradient(to bottom,#5f2c82, #2a0042);
    }
    section#login {
        width: 950px;
        height: 350px;
    }

    section#login > div#imagem {
        float: right;
        width: 40%;
        height: 100%;
        background-position: bottom center;
    }

    section#login > div#formulario {
        width: 60%;
    }

    div#formulario > h1 {
        text-align: center;
        padding: 10px;
    }

    div#formulario > p {
        width: 500px;
        display: block;
        margin: auto;
        text-align: center;
        font-size: 1em;
        padding: 10px;
    }
}